CSE136/web136/web136/web136/Service References/SLSchedule/item2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/POCO" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/POCO" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfSchedule">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Schedule" nillable="true" type="tns:Schedule" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfSchedule" nillable="true" type="tns:ArrayOfSchedule" />
  <xs:complexType name="Schedule">
    <xs:sequence>
      <xs:element minOccurs="0" name="course" nillable="true" type="tns:Course" />
      <xs:element minOccurs="0" name="day" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="enrollments" type="xs:int" />
      <xs:element minOccurs="0" name="id" type="xs:int" />
      <xs:element minOccurs="0" name="instructor" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="quarter" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="quota" type="xs:int" />
      <xs:element minOccurs="0" name="session" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="time" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="type" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="year" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Schedule" nillable="true" type="tns:Schedule" />
  <xs:complexType name="Course">
    <xs:sequence>
      <xs:element minOccurs="0" name="description" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="id" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="level" type="tns:CourseLevel" />
      <xs:element minOccurs="0" name="title" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Course" nillable="true" type="tns:Course" />
  <xs:simpleType name="CourseLevel">
    <xs:restriction base="xs:string">
      <xs:enumeration value="lower" />
      <xs:enumeration value="upper" />
      <xs:enumeration value="grad" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="CourseLevel" nillable="true" type="tns:CourseLevel" />
  <xs:complexType name="Quota">
    <xs:sequence>
      <xs:element minOccurs="0" name="course_title" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="max_students" type="xs:int" />
      <xs:element minOccurs="0" name="schedule_id" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="students_enrolled" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Quota" nillable="true" type="tns:Quota" />
</xs:schema>