CSE136/web136/web136/web136/Service References/SLSchedule/SLSchedule.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="SLSchedule" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:8733/Design_Time_Addresses/SL136/SLSchedule/?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:8733/Design_Time_Addresses/SL136/SLSchedule/?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:8733/Design_Time_Addresses/SL136/SLSchedule/?xsd=xsd2" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
      <xsd:import schemaLocation="http://localhost:8733/Design_Time_Addresses/SL136/SLSchedule/?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/POCO" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="ISLSchedule_GetScheduleList_InputMessage">
    <wsdl:part name="parameters" element="tns:GetScheduleList" />
  </wsdl:message>
  <wsdl:message name="ISLSchedule_GetScheduleList_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetScheduleListResponse" />
  </wsdl:message>
  <wsdl:message name="ISLSchedule_DeleteStudentSchedule_InputMessage">
    <wsdl:part name="parameters" element="tns:DeleteStudentSchedule" />
  </wsdl:message>
  <wsdl:message name="ISLSchedule_DeleteStudentSchedule_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteStudentScheduleResponse" />
  </wsdl:message>
  <wsdl:message name="ISLSchedule_GetQuota_InputMessage">
    <wsdl:part name="parameters" element="tns:GetQuota" />
  </wsdl:message>
  <wsdl:message name="ISLSchedule_GetQuota_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetQuotaResponse" />
  </wsdl:message>
  <wsdl:message name="ISLSchedule_GetSchedule_InputMessage">
    <wsdl:part name="parameters" element="tns:GetSchedule" />
  </wsdl:message>
  <wsdl:message name="ISLSchedule_GetSchedule_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetScheduleResponse" />
  </wsdl:message>
  <wsdl:message name="ISLSchedule_UpdateSchedule_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdateSchedule" />
  </wsdl:message>
  <wsdl:message name="ISLSchedule_UpdateSchedule_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateScheduleResponse" />
  </wsdl:message>
  <wsdl:message name="ISLSchedule_InsertSchedule_InputMessage">
    <wsdl:part name="parameters" element="tns:InsertSchedule" />
  </wsdl:message>
  <wsdl:message name="ISLSchedule_InsertSchedule_OutputMessage">
    <wsdl:part name="parameters" element="tns:InsertScheduleResponse" />
  </wsdl:message>
  <wsdl:message name="ISLSchedule_DeleteSchedule_InputMessage">
    <wsdl:part name="parameters" element="tns:DeleteSchedule" />
  </wsdl:message>
  <wsdl:message name="ISLSchedule_DeleteSchedule_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteScheduleResponse" />
  </wsdl:message>
  <wsdl:message name="ISLSchedule_GetDiscussions_InputMessage">
    <wsdl:part name="parameters" element="tns:GetDiscussions" />
  </wsdl:message>
  <wsdl:message name="ISLSchedule_GetDiscussions_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetDiscussionsResponse" />
  </wsdl:message>
  <wsdl:message name="ISLSchedule_createDiscussion_InputMessage">
    <wsdl:part name="parameters" element="tns:createDiscussion" />
  </wsdl:message>
  <wsdl:message name="ISLSchedule_createDiscussion_OutputMessage">
    <wsdl:part name="parameters" element="tns:createDiscussionResponse" />
  </wsdl:message>
  <wsdl:message name="ISLSchedule_removeDiscussion_InputMessage">
    <wsdl:part name="parameters" element="tns:removeDiscussion" />
  </wsdl:message>
  <wsdl:message name="ISLSchedule_removeDiscussion_OutputMessage">
    <wsdl:part name="parameters" element="tns:removeDiscussionResponse" />
  </wsdl:message>
  <wsdl:portType name="ISLSchedule">
    <wsdl:operation name="GetScheduleList">
      <wsdl:input wsaw:Action="http://tempuri.org/ISLSchedule/GetScheduleList" message="tns:ISLSchedule_GetScheduleList_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISLSchedule/GetScheduleListResponse" message="tns:ISLSchedule_GetScheduleList_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DeleteStudentSchedule">
      <wsdl:input wsaw:Action="http://tempuri.org/ISLSchedule/DeleteStudentSchedule" message="tns:ISLSchedule_DeleteStudentSchedule_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISLSchedule/DeleteStudentScheduleResponse" message="tns:ISLSchedule_DeleteStudentSchedule_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetQuota">
      <wsdl:input wsaw:Action="http://tempuri.org/ISLSchedule/GetQuota" message="tns:ISLSchedule_GetQuota_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISLSchedule/GetQuotaResponse" message="tns:ISLSchedule_GetQuota_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetSchedule">
      <wsdl:input wsaw:Action="http://tempuri.org/ISLSchedule/GetSchedule" message="tns:ISLSchedule_GetSchedule_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISLSchedule/GetScheduleResponse" message="tns:ISLSchedule_GetSchedule_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdateSchedule">
      <wsdl:input wsaw:Action="http://tempuri.org/ISLSchedule/UpdateSchedule" message="tns:ISLSchedule_UpdateSchedule_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISLSchedule/UpdateScheduleResponse" message="tns:ISLSchedule_UpdateSchedule_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="InsertSchedule">
      <wsdl:input wsaw:Action="http://tempuri.org/ISLSchedule/InsertSchedule" message="tns:ISLSchedule_InsertSchedule_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISLSchedule/InsertScheduleResponse" message="tns:ISLSchedule_InsertSchedule_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DeleteSchedule">
      <wsdl:input wsaw:Action="http://tempuri.org/ISLSchedule/DeleteSchedule" message="tns:ISLSchedule_DeleteSchedule_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISLSchedule/DeleteScheduleResponse" message="tns:ISLSchedule_DeleteSchedule_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetDiscussions">
      <wsdl:input wsaw:Action="http://tempuri.org/ISLSchedule/GetDiscussions" message="tns:ISLSchedule_GetDiscussions_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISLSchedule/GetDiscussionsResponse" message="tns:ISLSchedule_GetDiscussions_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="createDiscussion">
      <wsdl:input wsaw:Action="http://tempuri.org/ISLSchedule/createDiscussion" message="tns:ISLSchedule_createDiscussion_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISLSchedule/createDiscussionResponse" message="tns:ISLSchedule_createDiscussion_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="removeDiscussion">
      <wsdl:input wsaw:Action="http://tempuri.org/ISLSchedule/removeDiscussion" message="tns:ISLSchedule_removeDiscussion_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISLSchedule/removeDiscussionResponse" message="tns:ISLSchedule_removeDiscussion_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_ISLSchedule" type="tns:ISLSchedule">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetScheduleList">
      <soap:operation soapAction="http://tempuri.org/ISLSchedule/GetScheduleList" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteStudentSchedule">
      <soap:operation soapAction="http://tempuri.org/ISLSchedule/DeleteStudentSchedule" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetQuota">
      <soap:operation soapAction="http://tempuri.org/ISLSchedule/GetQuota" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetSchedule">
      <soap:operation soapAction="http://tempuri.org/ISLSchedule/GetSchedule" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateSchedule">
      <soap:operation soapAction="http://tempuri.org/ISLSchedule/UpdateSchedule" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="InsertSchedule">
      <soap:operation soapAction="http://tempuri.org/ISLSchedule/InsertSchedule" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteSchedule">
      <soap:operation soapAction="http://tempuri.org/ISLSchedule/DeleteSchedule" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetDiscussions">
      <soap:operation soapAction="http://tempuri.org/ISLSchedule/GetDiscussions" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="createDiscussion">
      <soap:operation soapAction="http://tempuri.org/ISLSchedule/createDiscussion" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="removeDiscussion">
      <soap:operation soapAction="http://tempuri.org/ISLSchedule/removeDiscussion" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="SLSchedule">
    <wsdl:port name="BasicHttpBinding_ISLSchedule" binding="tns:BasicHttpBinding_ISLSchedule">
      <soap:address location="http://localhost:8733/Design_Time_Addresses/SL136/SLSchedule/" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>